---
layout: default
title: Concert Agenda
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  
  <!-- Link to external stylesheet for button -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>


<h1>Concert Agenda</h1>
<p>Details of upcoming concerts will be added here.</p>


<!-- Include the buttons -->
<div class="button-container">
  {% include browse-choirs-button.html %}
  {% include choir-map-button.html %}
</div>
