---
layout: default
title: Welcome to the Choir Directory
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  
  <!-- Link to external stylesheet for button -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>


<h1>Welcome to the Choir Directory</h1>
<p>Find choirs in your region and discover their music.</p>

<div class="button-container">
  {% include browse-choirs-button.html %}
  {% include choir-map-button.html %}
</div>

<div class="button-container">
  {% include browse-choirs-button.html button-width-desktop="32.9%" %}
  {% include choir-map-button.html button-width-desktop="32.9%" %}
  {% include concert-agenda-button.html button-width-desktop="32.9%" %}
</div>
